:root {
  --primary-color-background: #f9f7fe;
  --secondary-color-btn: #6c63ff;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
}

.hero {
  background: var(--primary-color-background);
  padding: 160px 20px;
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 127px;
  margin: 0;
}
.hero p {
  font-weight: 700;
  font-size: 36px;
  color: #272142;
  margin: 0;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  opacity: 0.8;
}
.btn-contactMe {
  background-color: var(--secondary-color-btn);
  border: 1px solid var(--secondary-color-btn);
  border-radius: 4px;
  padding: 18px 30px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
h2 {
  font-size: 64px;
}
.projects {
  font-size: 18px;
  text-align: center;
}
.btn-learnMore {
  border: 1px solid var(--secondary-color-btn);
  border-radius: 4px;
  padding: 18px 30px;
  color: var(--secondary-color-btn);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.project-description {
  background: white;
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 80px 20px;
  }
}
